.page-title {
  text-align: center;
  color: #5e33d6;
  font-size: 2rem;
  margin-bottom: 15px;
}

/*  */

.task-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 0;
  background-color: rgba(57, 255, 242, 0.151);
}

/* .task-container {
  background: #ebf8ff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(105, 220, 255, 0.2);
  transition: transform 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
} */

.task-header{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}


.task-container {
  background: #ebf8ff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(105, 220, 255, 0.2);
  transition: transform 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 250px; /* Add a fixed height to control layout */
}

.task-body {
  display: flex;
  gap: 15px; /* Optional: to separate image and details */
}

.task-image {
  flex: 1;
  height: 100%;
  overflow: hidden; /* Prevent overflow */
}

.task-img {
  width: 15%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.add-task-btn {
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #5e33d6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
}

.add-task-btn:hover {
  background-color: #4523a0;
}



